<thf-input class="thf-md-2 thf-sm-2" t-label="Seq" [(ngModel)]="seq"></thf-input>
<thf-input class="thf-md-10 thf-sm-10" t-label="Desc" [(ngModel)]="desc"></thf-input>

<thf-input class="thf-md-12 thf-sm-12"></thf-input>

<div class="radio">
  <thf-radio-group [t-options]="options" t-columns="4" [(ngModel)]="optionSelected"></thf-radio-group>
</div>

<thf-input class="thf-md-6 thf-sm-6" t-label="Após" [(ngModel)]="apos"></thf-input>
<thf-input class="thf-md-6 thf-sm-6" t-label="Número"[(ngModel)]="numero"></thf-input>
<thf-input class="thf-md-6 thf-sm-6" t-label="Tp Result" [(ngModel)]="tpResult"></thf-input>
<thf-input class="thf-md-6 thf-sm-6" t-label="Resultado" [(ngModel)]="resultado"></thf-input>
<thf-input class="thf-md-6 thf-sm-6" t-label="Data Apont" [(ngModel)]="dataAtual"></thf-input>
<thf-input class="thf-md-6 thf-sm-6" t-label="Hora Apont" [(ngModel)]="horaAtual"></thf-input>
