<div class="ficha">
    <thf-input class="thf-md-2 thf-sm-3" t-readonly="true" t-label="Ficha" [(ngModel)]="ficha"></thf-input>
    <thf-input class="thf-md-10 thf-sm-8" t-readonly="true" t-label="Descrição" [(ngModel)]="descFicha"></thf-input>
</div>

<div class="produto">
    <thf-input class="thf-md-2 thf-sm-3" t-readonly="true" t-label="Produto" [(ngModel)]="produto"></thf-input>
    <thf-input class="thf-md-8 thf-sm-6" t-readonly="true" t-label="Descrição" [(ngModel)]="descProduto"></thf-input>
    <thf-input class="thf-md-2 thf-sm-2" t-readonly="true" t-label="Versão" [(ngModel)]="versao"></thf-input>
</div>

<div class="cliente">
    <thf-input class="thf-md-2 thf-sm-3" t-readonly="true" t-label="Cliente" [(ngModel)]="cliente"></thf-input>
    <thf-input class="thf-md-8 thf-sm-6" t-readonly="true" t-label="Descrição" [(ngModel)]="descCliente"></thf-input>
    <thf-input class="thf-md-2 thf-sm-2" t-readonly="true" t-label="Responsável" [(ngModel)]="responsavel"></thf-input>
</div>