:host {
  display: flex;
  justify-content: center;
  margin: 100px 0px;
}

.widget {
  display: flex;
  justify-content: center;
}

.button {
  display: flex;
  justify-content: flex-end;
  margin: 10px 0px 10px 0px;
}

.login {
  width: 100%;
  min-width: 300px;
}

.senha {
  width: 100%;
  min-width: 300px;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 100px;
  margin: 10px 0px 10px 0px;
  font-size: 60px;
  color: black;
  background-image: linear-gradient(to right, rgb(88, 165, 209), rgb(66, 125, 167));
  -webkit-background-clip: text;

  /* Adicionado: */
  -webkit-text-fill-color: transparent;
}

.logo p {
  font-family: 'Fredoka One', cursive;
}
