 <div class="widget">
   <thf-widget>
    <div class="logo">
     <p>Cassava S/A</p>
    </div>

    <div class="login">
      <thf-login class="thf-md-12 thf-sm-12" t-label="Login" [(ngModel)]="login" t-required="true"></thf-login>
    </div>

    <div class="senha">
      <thf-password (keyup)="keyUpEnter($event)" class="thf-md-12 thf-sm-12" t-label="Senha" [(ngModel)]="senha" t-required="true"></thf-password>
    </div>

    <div class="col-md-12 select">
      <select class="form-select" (keyup)="keyUpEnter($event)" [(ngModel)]="companhia">
        <option selected>Selecione uma companhia</option>
        <option *ngFor="let item of options" [value]="item.value">{{item.label}}</option>
      </select>
    </div>

    <div class="button">
      <thf-button class="thf-md-12 thf-sm-12 botao" t-label="Login" t-type="primary" (t-click)="submit()"></thf-button>
    </div>
   </thf-widget>
 </div>
