.exames p {
  display: flex;
  justify-content: center;
  align-items: center;
  color: darkgray;
  margin-top: 15px;
}

.apontamentos p {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  color: darkgray;
  margin-top: 15px;
}

.insert-apont {
  margin-left: 15px;
}
