<div class="thf-wrapper">
  <thf-menu t-collapsed [t-menus]="menus">
    <div *t-menu-header-template class="thf-p-2 thf-font-title sample-menu-header-text-color">
      <img class="logo" src="../../../assets/totvs-logo-menu.svg" alt="Logo Totvs">
    </div>
  </thf-menu>

  <thf-toolbar t-title="Exames" [t-show-notification]="false"></thf-toolbar>

  <thf-page-dynamic-search t-title="Lista de exames" [t-filters]="[{ property: 'name' }]">

    <thf-modal [t-title]="title" t-size="xl" [t-primary-action]="getPrimaryActions()"
      [t-secondary-action]="getSecondaryActions()" t-click-out="true">

      <div *ngIf="modal_type === 'apontamento'">
        <app-inserir-apontamentos></app-inserir-apontamentos>
      </div>
    </thf-modal>

    <div class="exames">
      <p>Exames</p>
      <app-tabela-exames></app-tabela-exames>
    </div>

    <div class="insert-apont">
      <thf-button t-type="primary" (t-click)="openApontModal()" t-label="Inserir apont."></thf-button>
    </div>

    <div class="apontamentos">
      <p>Apontamentos</p>
      <app-tabela-apontamentos></app-tabela-apontamentos>
    </div>

  </thf-page-dynamic-search>
</div>
